@import "tailwindcss";

/*--------- COLORS ----------*/

/* :root {
  --color-bg-dark: #1A1423;
  --color-bg-secondary: #372549;
  --color-accent: #774C60;
  --color-primary: #B75D69;
  --color-bg-light: #EACDC2;
} */
:root {
  --bg: #1a1423;
  --text: #eacdc2;
  --primary: #b75d69;
  --accent: #372549;
}

.dark {
  --bg: #eacdc2;
  --text: #1a1423;
  --primary: #b75d69;
  --accent: #774c60;
}

html,
body {
  font-family: "Quicksand", sans-serif;
}

body {
  @apply transition-colors duration-500;
  background: var(--bg);
  color: var(--text);
}
/* Anime Gradient Effekt */
body::before {
  content: "";
  position: fixed;
  inset: 0;
  z-index: -1;
  /* background-color: #372549; */

  /* background: radial-gradient(circle at 70% 10%, var(--accent), transparent),
    radial-gradient(circle at 60% 90%, var(--primary), transparent); */

  filter: blur(80px);
  opacity: 0.7;
}

/*--------- FONTS ----------*/
h1,
h2,
h3 {
  font-family: "Manrope", sans-serif;
  font-weight: 700;
}
h1,
h2 {
  letter-spacing: -0.03em;
}

p {
  line-height: 1.6;
}
/*--------- HOME ----------*/
@keyframes float {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-18px);
  }
  100% {
    transform: translateY(0px);
  }
}

.animate-float {
  animation: float 5s ease-in-out infinite;
}

@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(40px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fadeUp {
  animation: fadeUp 1s ease forwards;
}
/* mouse  */
body {
  cursor: none;
}
